<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tennis Scoreboard | New Match</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
<!--    <img src="/static/images/logo.png">-->
    <script src="/static/js/app.js"></script>
</head>
<body>
<header class="header">
    <section class="nav-header">
        <div class="brand">
            <div class="nav-toggle">
                <img src="/static/images/menu.png" alt="Logo" class="logo">
            </div>
            <span class="logo-text">TennisScoreboard</span>
        </div>
        <div>
            <nav class="nav-links">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/matches">Matches</a>
            </nav>
        </div>
    </section>
</header>
<main>
    <div class="container">
        <div>
            <h1>Start new match</h1>
            <div class="new-match-image"></div>
            <div class="form-container center">
<!--                <form method="post" action="/start">-->
<!--                    <p style="color: red;">Sample error message</p>-->
<!--                    <label class="label-player" for="playerOne">Player one</label>-->
<!--                    <input name="player_one_name"-->
<!--                           class="input-player"-->
<!--                           placeholder="Name"-->
<!--                           type="text"-->
<!--                           required-->
<!--                           pattern="[\p{L}\s-]{2,20}"-->
<!--                           title="Разрешены только буквы, пробелы и дефисы">-->
<!--                    <label class="label-player" for="playerTwo">Player two</label>-->
<!--                    <input name="player_two_name"-->
<!--                           class="input-player"-->
<!--                           placeholder="Name"-->
<!--                           type="text"-->
<!--                           required-->
<!--                           pattern="[\p{L}\s-]{2,20}"-->
<!--                           title="Разрешены только буквы, пробелы и дефисы">-->
<!--                    <input class="form-button" type="submit" value="Start">-->
<!--                    <button type="button"-->
<!--                            onclick="console.log(document.querySelector('input').checkValidity())">-->
<!--                            check-->
<!--                    </button>-->
<!--                </form>-->
                    <form method="post" action="/start" novalidate>
                        <p style="color: red;">{{ errors.main_error }}</p>

                        <label class="label-player">Player one</label>
                        <input name="player_one_name"
                               class="input-player"
                               placeholder="Name"
                               type="text"
                               {# 2. Сохраняем введенное имя, если оно было передано из контроллера #}
                               value="{{ player_one_name | default('') }}">

                        <div class="error-message" style="color: red; font-size: 0.8em;">
                            {{ errors.player_one_name | default('') }}
                        </div>

                        <label class="label-player">Player two</label>
                        <input name="player_two_name"
                               class="input-player"
                               placeholder="Name"
                               type="text"
                               value="{{ player_two_name | default('') }}">

                        <div class="error-message" style="color: red; font-size: 0.8em;">
                            {{ errors.player_two_name | default('') }}
                        </div>

                        <input class="form-button" type="submit" value="Start">
                    </form>
            </div>
        </div>
    </div>
</main>
<footer>
    <div class="footer">
        <p>&copy; Tennis Scoreboard, project from <a href="https://zhukovsd.github.io/java-backend-learning-course/">zhukovsd/java-backend-learning-course</a> roadmap.</p>
    </div>
</footer>
</body>
</html>
